#{{ ansible_managed }}

global
  user haproxy
  group haproxy

defaults
  mode http
  log global
  retries 2
  timeout connect 3000ms
  timeout server 5000ms
  timeout client 5000ms

frontend kubernetes
  bind *:6443
  mode tcp
  option tcplog
  option forwardfor
  default_backend kubernetes-master-nodes

backend kubernetes-master-nodes
  mode tcp
  balance roundrobin
  option tcp-check
  timeout connect 10s
  timeout server 1m
  {% for server in groups.control_nodes %}
  server {{ server }} {{ hostvars[server].ansible_host }}:6443 check fall 3 rise 2
  {% endfor %}


frontend kube-dashboard
  bind *:443
  mode tcp
  default_backend kube-backend
  timeout client 1m

backend kube-backend
  mode tcp
  balance roundrobin
  timeout connect 10s
  timeout server 1m
  {% for server in groups.control_nodes %}
    server {{ server }} {{ hostvars[server].ansible_host }}:31506 check fall 3 rise 2
  {% endfor %}